@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="app"></div>

<environment names="Development">
    <script type="module">
          import * as epvslib  from "/dist/epvs/src/main.ts";
          epvslib.registerHiBarChart("#app");
    </script>
</environment>

<environment names="Production">
    <script type="module">
        epvslib.registerHiBarChart("#app");
    </script>
</environment>
